* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myProgress {
  width: 60%;
  background-color: #ddd;
  border-radius: 4px;
  margin-left: 20%;
}

.myBar {
  width: 0%;
  height: 20px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 4px;
  transition: all 0.4s ease;

}

body{
  /* background: radial-gradient(circle, #e9f764 8%, transparent 11%),radial-gradient(circle at bottom left, #e9f764 5%, transparent 6%),radial-gradient(circle at bottom right, #e9f764 5%, transparent 6%),radial-gradient(circle at top left, #e9f764 5%, transparent 6%),radial-gradient(circle at top right, #e9f764 5%, transparent 6%); */
  background-size: 2em 2em;
  background-color: #c4c3c7;
  opacity: 1;
  color: rgb(20, 155, 238);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
 } 

 header{
  font-size: 1.2rem;
 }

 header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 form input, form button{
  padding: 0.1rem;
  font-size: 2rem;
  border: none;
  background: white;
 }

 form input{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
 }

 form button{
  color: rgb(20, 155, 238);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
 }

 form button:hover{
  background: rgb(20, 155, 238);
  color: white;
 }

.user-todo-container{
  display: flex;
  justify-content: center;
  align-items:center;
}

.user-todo-list{
  min-width: 30%;
  list-style: none;
}

.todo{
  margin: 1rem;
  background-color: #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease;
}

.todo li{
  flex: 1;
}

.complete-btn, .trash-btn{
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
}

.complete-btn{
  background: rgb(6, 151, 18);
  color: white;
}

.trash-btn{
  background: rgb(250, 38, 38);
  color: white;
}

.todo-item{
  padding: 0rem 0.5rem;
}

.fa-check, .fa-trash{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity:0.5;
}

/* exploding animation */
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.explode-div {
  animation: explode 1s forwards;
  transform-origin: center center;
}